<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kiseki.scrape-special-jockeys</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/ysuzuki/GitHub/kiseki/scripts/macmini/run_job.sh</string>
		<string>scrape-special-jockeys</string>
		<string>scripts/scrape_special_jockeys.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/ysuzuki/GitHub/kiseki/logs/jobs/scrape-special-jockeys.launchd.log</string>
	<key>StandardOutPath</key>
	<string>/Users/ysuzuki/GitHub/kiseki/logs/jobs/scrape-special-jockeys.launchd.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>18</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/ysuzuki/GitHub/kiseki</string>
</dict>
</plist>
