<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kiseki.keirin-nightly-triage</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/ysuzuki/GitHub/kiseki/keirin/scripts/nightly_triage.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>0</integer>
    <key>Minute</key><integer>12</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/ysuzuki/GitHub/kiseki/logs/keirin_nightly_triage.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ysuzuki/GitHub/kiseki/logs/keirin_nightly_triage.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
